<template>
  <div>
    <div class="field">
      <label class="label">Kode Pendidikan</label>
      <div class="control">
        <input
          class="input"
          type="text"
          v-model="kode_pendidikan"
        />
      </div>
    </div>
    <div class="field">
      <label class="label">Nama Pendidikan</label>
      <div class="control">
        <input
          class="input"
          type="text"
          v-model="nama_pendidikan"
        />
      </div>
    </div>

    <div class="control">
      <button class="button is-success" @click="updatePendidikan">UPDATE</button>
    </div>
  </div>
</template>
 
<script>
// import axios
import axios from "axios";
 
export default {
  name: "updatePendidikan",
  data() {
    return {
      kode_pendidikan: "",
      nama_pendidikan: "",
    };
  },
  created: function () {
    this.getPendidikanById();
  },
  methods: {
    // Get Product By Id
    async getPendidikanById() {
      try {
        const response = await axios.get(`http://localhost:8800/pendidikan/edit/${this.$route.params.id}`);
        this.kode_pendidikan = response.data.kode_pendidikan;
        this.nama_pendidikan = response.data.nama_pendidikan;
      } catch (err) {
        console.log(err);
      }
    },
 
    // Update product
    async updatePendidikan() {
      try {
        await axios.put("http://localhost:8800/pendidikan/update", {
          kode_pendidikan: this.kode_pendidikan,
          nama_pendidikan: this.nama_pendidikan,
        });
        this.kode_pendidikan = "";
        this.nama_pendidikan = "";
        this.$router.push("/");
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
 
<style>
</style>
