<template>
  <div>
    <router-link :to="{ name: 'AddPendidikan' }" class="button is-success mt-5">Add Pendidikan </router-link>
    <table class="table is-striped is-bordered mt-2 is-fullwidth">
      <thead>
        <tr>
          <th>Kode Pendidikan</th>
          <th>Nama Pendidikan</th>
          <th class="has-text-centered">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items" :key="item.pendidikan">
          <td>{{ item.kode_pendidikan }}</td>
          <td>{{ item.nama_pendidikan }}</td>
          <td class="has-text-centered">
            <router-link
              :to="{ name: 'UpdatePendidikan', params: { id: item.kode_pendidikan } }"
              class="button is-info is-small"
              >Update</router-link
            >
            <a
              class="button is-danger is-small"
              @click="deletePendidikan(item.kode_pendidikan)"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
 
<script>
// import axios
import axios from "axios";
 
export default {
  name: "ViewPendidikan",
  data() {
    return {
      items: [],
    };
  },
 
  created() {
    this.viewPendidikan();
  },
 
  methods: {
    // Get All Products
    async viewPendidikan() {
      try {
        const response = await axios.get("http://localhost:8800/pendidikan/view");
        this.items = response.data.values;
        // console.log(response.data.values);
      } catch (err) {
        console.log(err);
      }
    },
 
    // Delete Product
    async deletePendidikan(kode_pendidikan) {
      try {
        await axios.delete("http://localhost:8800/pendidikan/delete/");
        this.kode_pendidikan = kode_pendidikan;
        this.ViewPendidikan();
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
 
<style>
</style>
